<!-- <app-nav-bar></app-nav-bar> -->
<section class="page-header">
  <div class="container">
    <div class="page-title">
      <h2>About Corona Virus</h2>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home </a></li>
        <li class="breadcrumb-item" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</section>
<!-- First about section -->
<section class="page-about-first">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-row-reverse">
      <div class="col-lg-6 col-12">
        <div class="about-image">
          <img
            class="img-fluid about-image-first"
            src="./../../assets/about-image-02.jfif"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="para-title">
          <p class="about-p-title">More Information About (2019-nCoV)</p>
          <h3>Know More About Corona Virus</h3>
          <p class="first-para-about">
            ussertively mesh proactive results without market-driven systems
            Coaborate communicate 365 core competencies through business
            customer service an Distinctiv enable adaptive niche markets without
            principle-centered sourcesn Collaborati develop impactful expertise
            and enabled materials awesome and Efficiently engineer alternative
            growth strategies.
          </p>
          <p class="second-para-about">
            ussertively mesh proactive results without market-driven systems
            Coaborate communicate 365 core competencies through business
            customer service an Distinctiv enable adaptive niche markets without
            principle-centered sourcesn Collaborati develop impactful expertise
            and enabled materials awesome and Efficiently engineer alternative
            growth strategies.
          </p>
          <button type="button" class="btn btn-lg rounded-pill">
            MEET THE DOCTOR
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Second about section -->
<section class="page-about-second">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-image">
          <img
            src="./../../assets/about-image.jfif"
            alt=""
            class="img-fluid about-image-second"
          />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="para-title">
          <p>More Information About (2019-nCoV)</p>
          <h3>Know More About Corona Virus</h3>
          <p class="second-para-about">
            ussertively mesh proactive results without market-driven systems
            Coaborate communicate 365 core competencies through business
            customer service an Distinctiv enable adaptive niche markets without
            info.
          </p>
          <ul>
            <li class="about-small-item">
              <div class="about-small-image">
                <img
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                  class="img-fluid small-image"
                />
              </div>
              <div class="about-small-content">
                <h5>Wash Your Hands For 20sec</h5>
                <p>
                  Our comprehensive Online Marketing strategy will boost your
                  website trafic hence monthly sales.
                </p>
              </div>
            </li>
            <li class="about-small-item">
              <div class="about-small-image">
                <img
                  src="./../../assets/cover-nose.jfif"
                  alt=""
                  class="img-fluid small-image"
                />
              </div>
              <div class="about-small-content">
                <h5>Cover Nose and Mouth When Sneezing</h5>
                <p>
                  Our comprehensive Online Marketing strategy will boost your
                  website trafic hence monthly sales.
                </p>
              </div>
            </li>
            <li class="about-small-item">
              <div class="about-small-image">
                <img
                  src="./../../assets/wear-mask-02.jfif"
                  alt=""
                  class="img-fluid small-image"
                />
              </div>
              <div class="about-small-content">
                <h5>Wear A Mask If Available</h5>
                <p>
                  Our comprehensive Online Marketing strategy will boost your
                  website trafic hence monthly sales.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-big-cards></app-big-cards>
<app-footer></app-footer>
