<section class="faq-section">
  <div class="container"></div>
  <div class="section-header">
    <h2>Friquently Ask Questions</h2>
    <p>
      Dynamically formulate fully tested catalysts for change via focused
      methods of empowerment Assertively extend alternative synergy and
      extensive web services.
    </p>
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
          <!-- 1st Accordion -->

          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseone"
                  aria-expanded="true"
                  aria-controls="collapseone"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapseone"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingone"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsetwo"
                  aria-expanded="true"
                  aria-controls="collapsetwo"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsetwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingtwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsethree"
                  aria-expanded="true"
                  aria-controls="collapsethree"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsethree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingthree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefour"
                  aria-expanded="true"
                  aria-controls="collapsefour"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsefour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingfour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsefive"
                  aria-expanded="true"
                  aria-controls="collapsefive"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsefive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingfive"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd Accordion -->
        <div class="col-lg-6 col-12">
          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsesix"
                  aria-expanded="true"
                  aria-controls="collapsesix"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsesix"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingsix"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- mmm -->

          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseseven"
                  aria-expanded="true"
                  aria-controls="collapseseven"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapseseven"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingseven"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseeight"
                  aria-expanded="true"
                  aria-controls="collapseeight"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapseeight"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingeight"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsenine"
                  aria-expanded="true"
                  aria-controls="collapsenine"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapsenine"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingnine"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- $$$ -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-itemm">
              <div class="accordion-header">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseten"
                  aria-expanded="true"
                  aria-controls="collapsetwo"
                >
                  <img
                    class="img-fluid img-icon"
                    src="./../../assets/info-circle.svg"
                    alt=""
                  />
                  <span>&nbsp; What are the objectives of this Website?</span>
                </div>
                <div
                  id="collapseten"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingten"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Perspiciatis unde omnis iste natus error sit voluptatem
                      accusantium doloremque laudantium, totam rem aperiam,
                      eaque ipsa quae ab illo inventore vertatis et quasi
                      archtecto beatae vitae dicta sunt explicab Nemo enim ipsam
                      voluptatem quia voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
