<section class="faq-section">
  <div class="container"></div>
  <div class="section-header">
    <h2>Friquently Ask Questions</h2>
    <p>
      Dynamically formulate fully tested catalysts for change via focused
      methods of empowerment Assertively extend alternative synergy and
      extensive web services.
    </p>
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12">
          <!-- accordion-demo -->
          <div class="accordion-item">
            <!-- <h2 class="accordion-header" id="headingOne"> -->
            <div
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Accordion Item #1
            </div>
            <!-- </h2> -->
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is
                shown by default, until the collapse plugin adds the appropriate
                classes that we use to style each element. These classes control
                the overall appearance, as well as the showing and hiding via
                CSS transitions. You can modify any of this with custom CSS or
                overriding our default variables. It's also worth noting that
                just about any HTML can go within the
                <code>.accordion-body</code>, though the transition does limit
                overflow.
              </div>
            </div>
          </div>
          <!-- mmm -->
          <ul class="accordion lab-ul">
            <li class="accordion-item">
              <div class="accordion-list">
                <div class="left">
                  <div class="icon"><i class="icofont-info"></i></div>
                </div>
                <div class="right">
                  <h6>What are the objectives of this Website?</h6>
                </div>
              </div>
              <div class="accordion-answer">
                <p>
                  Perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore vertatis et quasi archtecto beatae
                  vitae dicta sunt explicab Nemo enim ipsam voluptatem quia
                  voluptas.
                </p>
              </div>
            </li>
          </ul>
          <!-- $$$ -->
          <ul class="accordion" id="accordionExample">
            <li class="accordion-item">
              <div class="accordion-header">
                <div class="left">
                  <div class="info-icon">
                    <img
                      class="img-fluid img-icon"
                      src="./../../assets/info-circle.svg"
                      alt=""
                    />
                    <span> What are the objectives of this Website?</span>
                  </div>
                </div>
                <!-- <div class="right">
                  <h6>What are the objectives of this Website?</h6>
                </div> -->
              </div>
              <div class="accordion-collapse collapse">
                <div class="accordion-body">
                  <p>
                    Perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo inventore vertatis et quasi archtecto
                    beatae vitae dicta sunt explicab Nemo enim ipsam voluptatem
                    quia voluptas.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
