<footer>
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="container col-lg-3 col-md-6 col-12">
          <div class="title">
            <h6>About Covid-19</h6>
          </div>
          <br />
          <div class="content">
            <p>We believe in Simple Creative and Responsive Design .</p>
            <h6>Headquarters:</h6>
            <p>345 Bristle United Kingdom, UK 834567</p>
            <p><span>Phone:</span>(91) 7991147105</p>
            <p><span>Email:</span><a href="#">info@covid-19.com</a></p>
          </div>
        </div>

        <!-- ***** -->
        <div class="container col-lg-3 col-md-6 col-12">
          <div class="title">
            <h6>Navigate</h6>
          </div>
          <br />
          <div class="content">
            <ul class="menu-list">
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Advertisers</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Developers</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Resources</a
                >
              </li>
              <li>
                <a href="#"><i class="fas fa-caret-right"></i>&ensp;Company</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-caret-right"></i>&ensp;Connect</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 8888 -->
        <div class="container col-lg-3 col-md-6 col-12">
          <div class="title">
            <h6>Social Contact</h6>
          </div>
          <br />
          <div class="content">
            <ul class="menu-list">
              <li>
                <a href="#"><i class="fab fa-facebook"></i>&ensp;Facebook</a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i>&ensp;Twitter</a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i>&ensp;Instagram</a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i>&ensp;YouTube</a>
              </li>
              <li>
                <a href="#"><i class="fab fa-xing"></i>&ensp;Xing</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 7777 -->
        <div class="container mr-5 col-lg-3 col-md-6 col-12">
          <div class="title">
            <h6>Privacy and Tos</h6>
          </div>
          <br />
          <div class="content">
            <ul class="menu-list">
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Advertiser
                  Agreement</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right &nbsp;"></i>&ensp;Acceptable Use
                  Policy</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Privacy Policy</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Technology Privacy</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fas fa-caret-right"></i>&ensp;Developer
                  Agreement</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="dropdown-divider" />
  <div class="footer-bottom">
    <div class="container">
      <div class="section-wrapper text-center p-4">
        <p>
          © 2020 All Rights Reserved. Designed by
          <a href="https://google.com">DixaxCoder</a>
        </p>
      </div>
    </div>
  </div>
</footer>
