<div class="team-section">
  <div class="container">
    <div class="team-area">
      <div class="row justify-content-center align-items-center">
        <div class="section-header">
          <h2>Meet Our Best Doctors</h2>
          <p class="paragraph-alignment">
            Dynamically formulate fully tested catalysts for change via focused
            methods of empowerment Assertively extend alternative synergy and
            extensive web services.
          </p>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="team-item">
              <div class="team-thumb">
                <img class="img-fluid" src="./../../assets/DR01.jpg" alt="" />
              </div>
              <div class="team-content">
                <h5 class="doctor-name">Dia Michael</h5>
                <span>Throat Specialist</span>
                <hr class="dropdown-divider" />
                <p class="doctor-details">
                  Proce Aran Manu Proucs Rahe Conen Cuve Manu Produ Rahe Cuvaes
                  Mana The Conen Testin Motin Was Procedur
                </p>
                <ul class="menu-list">
                  <li>
                    <i class="bi bi-info"></i><span>+91 123 5678 878</span>
                  </li>

                  <li>
                    <i class="bi bi-info-circle"></i>
                    <span>dk@gmail.com</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd card -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="team-item">
              <div class="team-thumb">
                <img class="img-fluid" src="./../../assets/DR03.jpg" alt="" />
              </div>
              <div class="team-content">
                <h5 class="doctor-name">M.K Swift</h5>
                <span>Cardiologist</span>
                <hr class="dropdown-divider" />
                <p class="doctor-details">
                  Proce Aran Manu Proucs Rahe Conen Cuve Manu Produ Rahe Cuvaes
                  Mana The Conen Testin Motin Was Procedur
                </p>
                <ul class="menu-list">
                  <li><i></i><span>+91 123 8765 478</span></li>
                  <li>
                    <i><span>mkswift@gmail.com</span></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd card -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="team-item">
              <div class="team-thumb">
                <img class="img-fluid" src="./../../assets/DR02.jpg" alt="" />
              </div>
              <div class="team-content">
                <h5 class="doctor-name">Cyinthia</h5>
                <span>Rehabilitation Therapy</span>
                <hr class="dropdown-divider" />
                <p class="doctor-details">
                  Proce Aran Manu Proucs Rahe Conen Cuve Manu Produ Rahe Cuvaes
                  Mana The Conen Testin Motin Was Procedur
                </p>
                <ul class="menu-list">
                  <li><i></i><span>+91 987 5678 876</span></li>
                  <li>
                    <i><span>xycynthia@gmail.com</span></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
