.section-header {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.team-section {
  padding: 50px;
}
.team-content {
  padding: 20px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}
i {
  border-right: 1px solid gray;
  line-height: 27px;
}
