<!-- header section -->
<section class="prevention-header">
  <div class="container">
    <div class="prevention-title">
      <h2>Our Recent News</h2>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item" aria-current="page">Blog</li>
      </ol>
    </nav>
  </div>
</section>
<!-- End header section -->
<section class="service-blog">
  <div class="container">
    <div class="blog-header">
      <h2>Our Most Popular Blog</h2>
      <p class="paragraph-alignment">
        Dynamically formulate fully tested catalysts for change via focused
        methods of empowerment Assertively extend alternative synergy and
        extensive web services
      </p>
    </div>
    <div class="section-wrapper">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-4 col-md-6 col-12" *ngFor="let items of record">
          <div class="card mt-5">
            <div class="blog-item">
              <div class="image">
                <img
                  class="img-fluid image-blog"
                  src="{{ items.src }}"
                  alt=""
                />
              </div>
              <div class="blog-content">
                <h5>{{ items.title }}</h5>
              </div>
              <div class="blog-date">
                <a
                  ><i class="fas fa-calendar-alt"></i
                  >{{ items.date | date: "EEEE,M-d-yy" }}</a
                >
                <a><i class="fas fa-user"></i>{{ items.name }}</a>
              </div>
              <p>
                {{ items.description }}
              </p>
              <hr class="dropdown-divider" />
              <div class="blog-footer">
                <a href="">Read More</a>
                <a style="margin-left: 180px"
                  ><i class="fas fa-envelope-open"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
