<section class="service-blog">
  <div class="container">
    <div class="blog-header">
      <h2>Our Most Popular Blog</h2>
      <p class="paragraph-alignment">
        Dynamically formulate fully tested catalysts for change via focused
        methods of empowerment Assertively extend alternative synergy and
        extensive web services
      </p>
    </div>
    <div class="section-wrapper">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="blog-item">
              <div class="image">
                <img
                  class="img-fluid image-blog"
                  src="./../../assets/blog01.jfif"
                  alt=""
                />
              </div>
              <div class="blog-content">
                <h5>Conulting Reporting Qouncil Arei Not Could More...</h5>
              </div>
              <div class="blog-date">
                <a><i></i>June 17,2021</a>
                <a><i></i>Robert Pattinson</a>
              </div>
              <p>
                Pluoresntly customize pranci an plcentered customer service
                anding strategic amerials Interacvely cordinate performe
              </p>
              <hr class="dropdown-divider" />
              <div class="blog-footer">
                <a href="">Read More</a>
                <a><i></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- 2nd card -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="blog-item">
              <div class="image">
                <img
                  class="img-fluid image-blog"
                  src="./../../assets/blog09.jfif"
                  alt=""
                />
              </div>
              <div class="blog-content">
                <h5>Conulting Reporting Qouncil Arei Not Could More...</h5>
              </div>
              <div class="blog-date">
                <a><i></i>June 17,2021</a>
                <a><i></i>Robert Pattinson</a>
              </div>
              <p>
                Pluoresntly customize pranci an plcentered customer service
                anding strategic amerials Interacvely cordinate performe
              </p>
              <hr class="dropdown-divider" />
              <div class="blog-footer">
                <a href="">Read More</a>
                <a><i></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- 3rd -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="card">
            <div class="blog-item">
              <div class="image">
                <img
                  class="img-fluid image-blog"
                  src="./../../assets/blog06.jfif"
                  alt=""
                />
              </div>
              <div class="blog-content">
                <h5>Conulting Reporting Qouncil Arei Not Could More...</h5>
              </div>
              <div class="blog-date">
                <a><i></i>June 17,2021</a>
                <a><i></i>Robert Pattinson</a>
              </div>
              <p>
                Pluoresntly customize pranci an plcentered customer service
                anding strategic amerials Interacvely cordinate performe
              </p>
              <hr class="dropdown-divider" />
              <div class="blog-footer">
                <a href="">Read More</a>
                <a><i></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
