<!-- <app-nav-bar></app-nav-bar> -->
<section class="prevention-header">
  <div class="container">
    <div class="prevention-title">
      <h2>Contact Info</h2>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home </a></li>
        <li class="breadcrumb-item" aria-current="page">Contact</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Contact Us -->
<section class="contact-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="contact-title">
          <h5>Contact Informations</h5>
        </div>
        <ul class="contact-content">
          <li class="contact-item d-flex">
            <i class="fas fa-location-arrow"></i>

            <div class="content">
              <h6>&ensp;Our Location</h6>
              <p>218 Sahera Tropical Center Room#7 New Elephant Road 1205</p>
            </div>
          </li>
          <hr />
          <li class="contact-item d-flex">
            <i class="fas fa-phone-alt"></i>

            <div class="content">
              <h6>&ensp;Phone Number</h6>
              <p>+91876543389,9876543210<br />7865432189</p>
            </div>
          </li>
          <hr />
          <li class="contact-item d-flex">
            <i class="fas fa-envelope"></i>

            <span class="content">
              <h6>&ensp;Email Address</h6>
              <p>suport@admincovid.com</p>
            </span>
          </li>
          <hr />
          <li class="contact-item d-flex">
            <i class="fab fa-wikipedia-w"></i>
            <div class="content">
              <h6>&ensp;Website Address:</h6>
              <p>http://admincovid.com</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-8 col-md-6 col-12">
        <div class="contact-title">
          <h5>Send us a Message</h5>
        </div>
        <!-- Form -->
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="field col-lg-6 col-12">
              <input
                type="text"
                name="name"
                placeholder="Your Name"
                class="contact-input"
                formControlName="name"
                class="input"
              />
              <div
                *ngIf="getControl.name.touched && getControl.name.invalid"
                class="text-danger"
              >
                <div *ngIf="getControl.name.errors?.required">
                  Name is required.
                </div>
                <div *ngIf="getControl.name.errors?.minlength">
                  Minimum 4 character are required.
                </div>
                <!-- <div *ngIf="getControl.name.errors?.pattern">
                  Username is invalid.
                </div> -->
              </div>
            </div>
            <div class="field col-lg-6 col-12">
              <input
                type="email"
                name="email"
                placeholder="Your Email"
                class="contact-input"
                formControlName="email"
                class="input"
              />
              <div
                *ngIf="getControl.email.touched && getControl.email.invalid"
                class="text-danger"
              >
                <div *ngIf="getControl.email.errors?.required">
                  Email is required.
                </div>
                <div *ngIf="getControl.email.errors?.pattern">
                  Email seems invalid.
                </div>
              </div>
            </div>

            <div class="field col-lg-6 col-12">
              <input
                type="text"
                name="address"
                placeholder="Your Address"
                class="contact-input"
                formControlName="address"
                class="input"
              />
            </div>
            <div class="field col-lg-6 col-12">
              <input
                type="text"
                name="text"
                placeholder="Your Company"
                class="contact-input"
                formControlName="text"
                class="input"
              />
            </div>

            <textarea
              rows="5"
              name="textarea"
              class="contact-input message"
              placeholder="Your Messages"
              formControlName="textarea"
            ></textarea>
            <div
              *ngIf="getControl.textarea.touched && getControl.textarea.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.textarea.errors?.required">
                Message is required.
              </div>
            </div>
            <!-- </div> -->

            <button
              type="submit"
              name="submit"
              value="Send Message"
              class="btn rounded-pill btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              SEND MESSAGE
            </button>
          </div>
        </form>
        <!-- Modal -->
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Thank You For Supporting Us!!
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">Your Query will be resolved soon.</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <!-- <button type="button" class="btn btn-primary">
                  Save changes
                </button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Modal ending -->
      </div>
    </div>
  </div>
</section>
<!-- map -->

<div #mapContainer id="map"></div>

<app-footer></app-footer>
