<!-- <app-nav-bar></app-nav-bar> -->
<section class="prevention-header">
  <div class="container">
    <div class="prevention-title">
      <h2>Virus Prevention</h2>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home </a></li>
        <li class="breadcrumb-item" aria-current="page">Prevention</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Section for How to protect Yourself -->
<section class="protection-header">
  <div class="container">
    <div class="section-header">
      <p class="para">How To Protect Yourself</p>
      <h2>Stay Safe From The Coronavirus.</h2>
    </div>
    <div class="prevtion-wrapper">
      <div class="row justify-content-centre">
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Avoid Close Contact</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae! Quia iusto aperiam rerum!
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- .. -->
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Clean Your Hands Often</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae! Quia iusto aperiam rerum!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Stay At Home</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae! Quia iusto aperiam rerum!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Cover Coughs And Sneezes</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae! Quia iusto aperiam rerum!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Wear a Facemask if You Are Sick</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <img
                  class="img-fluid card-image-inner"
                  src="./../../assets/wash-hand.jfif"
                  alt=""
                />
              </div>
              <div class="card-text">
                <h5>Clean And Disinfect</h5>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Quibusdam, dolorem beatae! Quia iusto aperiam rerum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-small-cards></app-small-cards>
<app-gutter></app-gutter>
<app-footer></app-footer>
