.prevention-header {
  background-image: url(./../../assets/back-02.jfif);
  height: 400px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.prevention-title {
  text-align: center;
  color: white;
}
.breadcrumb {
  display: flex;
  justify-content: center;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.protection-header {
  /* padding: 100px; */
  background-color: rgb(249, 252, 255);
}

@media screen and (min-width: 430px) {
  .protection-header {
    padding-left: 70px;
  }
}
.para,
h2 {
  text-align: center;
}
.card {
  height: 250px;
  width: 300px;
  border: none;
  background-color: rgb(249, 252, 255);
}
.card:hover {
  background-color: rgb(255, 255, 255);
  animation: forwards;
}
.card-image-inner {
  height: 100px;
}
.card-image {
  display: flex;
  justify-content: center;
}
.card-text {
  text-align: center;
}
/* .card-content {
  padding: 10px;
} */
.para {
  color: rgb(156, 71, 237);
}
