<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <img class="img-fluid logo-image" src="./../../assets/large.png" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            routerLink=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Home
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item active" href="#">Home Style One</a></li>
            <hr class="dropdown-divider" />
            <li><a class="dropdown-item active" href="#">Home Style Two</a></li>
            <hr class="dropdown-divider" />
            <li>
              <a class="dropdown-item active" href="#">Home Style Three</a>
            </li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item active" routerLink="about">About-Page</a>
            </li>
            <hr class="dropdown-divider" />
            <li><a class="dropdown-item active" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item active" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="preventionn" class="nav-link active">Prevention</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            routerLink="blog"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Blog
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <hr class="dropdown-divider" />
            <li><a class="dropdown-item active" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item active" href="#">Something else here</a>
            </li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item active" routerLink="products-page"
                >Produts-page</a
              >
            </li>
            <hr class="dropdown-divider" />
            <li><a class="dropdown-item active" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item active" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="callus">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <button type="button " class="btn btn-lg rounded-pill">
          ARE YOU SICK
        </button>
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
    </div>
  </div>
</nav>
