.navbar {
  padding: 0;
  background: rgb(7, 18, 64);
  /* background-color: white; */
  color: white;
}
.btn {
  background: rgb(7, 18, 64);

  color: white;
  font-size: small;
  font-weight: bold;
  padding: 16px 40px;
  border: 2px solid white;
  margin-right: 20px;
}
.btn:hover {
  box-shadow: 0 5px 5px 0 rgba(163, 92, 128, 0.177),
    0 5px 5px 0 rgba(163, 92, 128, 0.277);
}

.img-fluid {
  width: 70px;
  height: 70px;
  margin: 7px;
  background-position: center;
  background-attachment: fixed;
}
.dropdown-item {
  color: rgb(7, 18, 64);
  background-color: white;
  padding: 0;
}
