<section class="corona-service">
  <div class="container-fluid corona-service-header">
    <div class="row justify-content-center align-items-center">
      <div class="card-header text-center">
        <h2>Corona Virus Symptoms</h2>
        <p class="paragraph-alignment">
          Dynamically formulate fully tested catalysts for change via focused
          methods of empowerment Assertively extend alternative synergy and
          extensive web services
        </p>
      </div>
    </div>

    <!-- displaying cards -->
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card card-component">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp01.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Coughing And Sneezing</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp05.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Hot Fever</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp02.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Strong Headache</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4th -->
        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp07.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Shortness of Breathe</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 5th -->
        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp09.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Confusion</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 6th -->
        <div class="col-xl-4 col-md-6 col-12 mt-4">
          <div class="card">
            <div class="service-item text-center">
              <div class="service-inner">
                <div class="service-thumb">
                  <img
                    class="img-fluid image-symptoms-0ne"
                    src="./../../assets/symp08.jfif"
                    alt="service"
                  />
                </div>
                <div class="service-content">
                  <h4>Sore Throat</h4>
                  <p>
                    Our comprehensive Online Marketing strategy will boost your
                    website trafic hence monthly sales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
