<section class="gutter-section">
  <div class="container">
    <div class="gutter-header">
      <p class="para">Should Do And Should Avoid</p>
      <h2>Prevention Coranavirus Covid-19</h2>
    </div>

    <div class="gutter-wrapper">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="gutter-title">
            <h3>What you should do</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 gutter-content mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Things to Avoid -->
        <div class="col-lg-6 col-12">
          <div class="gutter-title">
            <h3>What you should Avoid</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 gutter-content avoid mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content avoid mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content avoid mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
            <div class="gutter-content avoid mt-2">
              <div class="gutter-image">
                <img
                  src="./../../assets/corona02.png"
                  alt=""
                  class="img-fluid gutter-small-image"
                />
              </div>
              <div class="gutter-text">
                <h4>Wash your hands with handwash</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorum nostrum eos iusto, facilis cum id.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
