<!-- <app-nav-bar></app-nav-bar> -->
<!-- Shop-Header -->
<section class="prevention-header">
  <div class="container">
    <div class="prevention-title">
      <h2>Products Page</h2>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home </a></li>
        <li class="breadcrumb-item" aria-current="page">ShopPage</li>
      </ol>
    </nav>
  </div>
</section>
<!-- Shop-Header ending -->
<section class="shop-service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-12">
        <div class="nav shop-nav">
          <div class="nav-text">
            <p>Showing 01 - 12 of 139 Results</p>
          </div>
          <div class="nav-icon">
            <a href=""></a>
            <a href=""></a>
          </div>
        </div>
        <div class="shop-product row justify-content-center">
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- ** -->
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- ** -->
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- for 2nd row -->
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i>*****</i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- 3rd row -->
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="card">
              <div class="shop-item">
                <div class="shop-image">
                  <img
                    src="./../../assets/DR01.jpg"
                    alt=""
                    class="img-fluid shop-item-image"
                  />
                </div>
                <div class="shop-text">
                  <h5>Product Title Here</h5>
                  <p class="star-icon">
                    <i></i>
                  </p>
                  <h6>$200</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <!-- <nav aria-label="page-nav ">
          <ul class="pagination pagination-lg mt-5">
            <li class="page-item active" aria-current="page">
              <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item" aria-current="page">
              <span class="page-link">4</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
          </ul>
        </nav> -->
      </div>
      <!-- side-bar -->
      <div class="col-lg-3 col-md-7 col-12">
        <div class="side">
          <div class="search">
            <input class="search-input" type="text" placeholder="Search....." />
          </div>
          <!-- <div class="shop">
            <div class="shop-header">
              <h5>All Categories</h5>
            </div>
            <div class="shop-menu">
              <ul class="menu-list">
                <li class="menu-list-item">
                  <a href="">Code Optimization</a>
                  <ul class="shop-submenu">
                    <li class="menu-item-list-children">
                      <a href="">All Products</a>
                      <ul class="shop-submenu">
                        <li>
                          <a href="">All Products</a>
                        </li>
                        <li><a href="">Seo</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div> -->
          <div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
            <a
              href="/"
              class="
                d-flex
                align-items-center
                pb-3
                mb-3
                link-dark
                text-decoration-none
                border-bottom
              "
            >
              <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
              </svg>
              <span class="fs-5 fw-semibold">Collapsible</span>
            </a>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#home-collapse"
                  aria-expanded="false"
                >
                  Home
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Updates</a></li>
                    <li><a href="#" class="link-dark rounded">Reports</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse"
                  aria-expanded="false"
                >
                  Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Weekly</a></li>
                    <li><a href="#" class="link-dark rounded">Monthly</a></li>
                    <li><a href="#" class="link-dark rounded">Annually</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders-collapse"
                  aria-expanded="false"
                >
                  Orders
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#account-collapse"
                  aria-expanded="false"
                >
                  Account
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- Products -->
          <div class="products">
            <div class="product-header">
              <div class="card product-header-card">
                <h5>Latest Products</h5>
              </div>
            </div>
            <div class="product-wrapper">
              <ul class="product-item">
                <div class="card product-card">
                  <li class="product-item-list">
                    <div class="product-image">
                      <img
                        class="img-fluid poducts-image"
                        src="./../../assets/wash-hand.jfif"
                        alt=""
                      />
                    </div>
                    <div class="product-content">
                      <h6>
                        <a class="product-title" href="">Poduct Title Here</a>
                      </h6>
                      <p><span>(3 review)</span></p>
                      <h6>$200</h6>
                    </div>
                  </li>
                </div>
                <div class="card product-card">
                  <li class="product-item-list">
                    <div class="product-image">
                      <img
                        class="img-fluid poducts-image"
                        src="./../../assets/wash-hand.jfif"
                        alt=""
                      />
                    </div>
                    <div class="product-content">
                      <h6>
                        <a class="product-title" href="">Poduct Title Here</a>
                      </h6>
                      <p><span>(3 review)</span></p>
                      <h6>$200</h6>
                    </div>
                  </li>
                </div>
                <div class="card product-card">
                  <li class="product-item-list">
                    <div class="product-image">
                      <img
                        class="img-fluid poducts-image"
                        src="./../../assets/wash-hand.jfif"
                        alt=""
                      />
                    </div>
                    <div class="product-content">
                      <h6>
                        <a class="product-title" href="">Poduct Title Here</a>
                      </h6>
                      <p><span>(3 review)</span></p>
                      <h6>$200</h6>
                    </div>
                  </li>
                </div>
                <div class="card product-card">
                  <li class="product-item-list">
                    <div class="product-image">
                      <img
                        class="img-fluid poducts-image"
                        src="./../../assets/wash-hand.jfif"
                        alt=""
                      />
                    </div>
                    <div class="product-content">
                      <h6>
                        <a class="product-title" href="">Poduct Title Here</a>
                      </h6>
                      <p><span>(3 review)</span></p>
                      <h6>$200</h6>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Adding Footer -->
<app-footer></app-footer>
