<section class="service-blog">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-12">
        <div class="image-corona">
          <img
            class="img-fluid image-corona"
            src="./../../assets/corona-safety-02.jfif"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="content-part">
          <h2>How to stay Safe Important Percautions</h2>
          <p>
            Continuay seize magnetic oportunities via value added imperatives
            ompetenty plagiarize customized meta-services after interopera
            supply chains nthuastica embrace portals through high-payoff
            internal or "organic" sources rogressively engineer cross functional
            synergy with client-centric
          </p>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="title">
                <h6><i></i>Things You Should Do</h6>
              </div>
              <ul class="menu-list">
                <li><i></i> Stay at Home</li>
                <li><i></i> Wear Mask</li>
                <li><i></i>Wash Your Hands</li>
                <li><i></i> Well Done Cooking</li>
                <li><i></i> Seek for a Doctor</li>
                <li><i></i> Avoid Crowded Places</li>
              </ul>
            </div>
            <div class="col-lg-6 col-12">
              <div class="title">
                <h6><i></i>Things You Should Do</h6>
              </div>
              <ul class="menu-list">
                <li><i></i> Stay at Home</li>
                <li><i></i> Wear Mask</li>
                <li><i></i>Wash Your Hands</li>
                <li><i></i> Well Done Cooking</li>
                <li><i></i> Seek for a Doctor</li>
                <li><i></i> Avoid Crowded Places</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
