<!-- <app-nav-bar></app-nav-bar> -->
<section class="banner-area">
  <div class="container-fluid">
    <div class="row justify-content-center col-12">
      <div class="section-header text-center">
        <h1>COVID-19 TRACKER</h1>
        <h3>TOTAL CONFIRMED CORONA CASES</h3>
        <h2>98765</h2>
      </div>
      <div class="section-wrapper">
        <div class="image-tracker">
          <img
            class="img-fluid image-tracker-first"
            src="./../../assets/corona04.png"
            alt=""
          />
          <img
            class="img-fluid image-tracker-second"
            src="./../../assets/corona04.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Displaying about corona statistics -->
<section class="corona-count-section bg-corona padding-tb pt-0">
  <div class="container">
    <div class="corona-wrap">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-3 col-md-6 col-12">
          <h5>Total Corona Statistics :</h5>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <div class="corona-item">
            <div class="corona-inner">
              <div class="corona-thumb">
                <img
                  class="img-fluid corona-image"
                  src="./../../assets/corona01.jfif"
                  alt="corona"
                />
              </div>
              <div class="corona-content">
                <h3 class="count-number">26564</h3>
                <p class="count-cases p-0">Active Cases</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <div class="corona-item">
            <div class="corona-inner">
              <div class="corona-thumb">
                <img
                  class="img-fluid corona-image"
                  src="./../../assets/corona04.png"
                  alt="corona"
                />
              </div>
              <div class="corona-content">
                <h3 class="count-number">1567550</h3>
                <p class="count-cases p-0">Recovered Cases</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <div class="corona-item">
            <div class="corona-inner">
              <div class="corona-thumb">
                <img
                  class="img-fluid corona-image"
                  src="./../../assets/corona03.jfif"
                  alt="corona"
                />
              </div>
              <div class="corona-content">
                <h3 class="count-number">678558</h3>
                <p class="count-cases p-0">Deaths</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="dropdown-divider" />
    <div class="corona-count-bottom">
      <div
        class="row justify-content-center align-items-center flex-row-reverse"
      >
        <div class="col-lg-6 col-12">
          <div class="ccb-thumb">
            <a
              href="https://www.youtube.com/embed/Z9fQTS_kEqw"
              data-rel="lightcase"
              class="ccb-video"
              ><i class="icofont-ui-play"></i><span class="pluse_1"></span
              ><span class="pluse_2"></span
            ></a>
            <img
              class="img-fluid img-corona-stats"
              src="./../../assets/corona02.png"
              alt="corona"
            />
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="corona-content">
            <h2>What Is Coronavirus?</h2>
            <h6>
              Coronavirus COVID-19 Global Cases map developed by the Johns
              Hopkins Center for Systems Science and Engineering.
            </h6>
            <p>
              Coronaviruses are type of virus. There are many different kinds,
              &amp; some cause disease newly identified type has caused recent
              outbreak of respiratory ilnessnow called COVID-19 that started in
              China.
            </p>
            <ul class="lab-ul">
              <li>
                <i class="fas fa-check-circle"></i>&ensp;COVID-19 is the disease
                caused by the new coronavirus that emerged in China in December
                2020.
              </li>
              <li>
                <i class="fas fa-check-circle"></i>&ensp;COVID-19 symptoms
                include cough, fever and shortness of breath. COVID-19 can be
                severe, and some cases have caused death.
              </li>
              <li>
                <i class="fas fa-check-circle"></i>&ensp;The new coronavirus can
                be spread from person to person. It is diagnosed with a
                laboratory test.
              </li>
            </ul>
            <button class="btn rounded-pill btn-light">
              <a href="#"></a>GET STARTED NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-small-cards></app-small-cards>
<app-big-cards></app-big-cards>
<app-precautions></app-precautions>
<!-- <app-blog-parts></app-blog-parts> -->
<app-faq></app-faq>
<app-footer></app-footer>
<router-outlet></router-outlet>
